{% extends 'ecommerce/Main.html'%}
{% load static %}

{% block content %} 
<style>
    .border{
        border: 5px;
        border-radius: 20px;
    }
</style>
   
<div class="row">
    {% for product in products %}
        <div class="col-lg-4 ">
            <div class="grid">   
                <div class="product-item">
                    <a href="{% url 'view_page' product.name %}">
                        <div class="image ">
                            <img class="thumbnail " src="{{product.imageURL}}">
                        </div>
                    </a>
                </div>
            </div>
            <div class="box-element">
                <h6 class="main-heading mt-0 "><strong>{{product.name}}</strong></h6>
                <hr>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-danger border update-cart">Add to Cart</button>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-primary border update-wishlist">wish</button>
                <h4 style="display: inline-block; float: right">₹{{product.price}}</h4>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}
